.lfr-layout-structure-item-container {padding: 0;} .lfr-layout-structure-item-row {overflow: hidden;} .portlet-borderless .portlet-content {padding: 0;}.lfr-layout-structure-item-a238cef1-3b32-8f9e-fab1-1938ff20c1f1 {
margin-bottom: 32px !important;
margin-top: 0px !important;
padding-top: 40px !important;
}
.lfr-layout-structure-item-0ca781e8-9077-adaf-2248-9715d0a4a863 {
margin-top: -30px !important;
padding-bottom: 40px !important;
}
.lfr-layout-structure-item-18ab9e21-f5cc-66cf-261c-8f6b6e4486bb {
display: none !important;
}
.lfr-layout-structure-item-8cc659a9-29eb-4d5d-ac45-5412aa13534f {
background-color: #F9FAE1 !important;
height: 400px !important;
}
.lfr-layout-structure-item-ef041711-da39-370e-c043-65c6f2b5f5d8 {
margin-bottom: 32px !important;
margin-top: 32px !important;
}
.lfr-layout-structure-item-10ef66ea-d56c-558f-0dc9-89f7b8f564d8 {
margin-bottom: 32px !important;
margin-top: 32px !important;
}
.lfr-layout-structure-item-f2b78e74-cbe3-66f9-220a-cf3f9a692a6f {
min-height: 440px !important;
}
.lfr-layout-structure-item-3b86c259-3fc8-cd7d-da23-c3ecf818189a {
margin-top: 32px !important;
}
.lfr-layout-structure-item-9dd3eac2-e96a-0529-4fc4-6fea308dbd6a {
margin-bottom: 40px !important;
margin-top: 32px !important;
}
.lfr-layout-structure-item-83701424-ec42-aa71-465f-e2a371018951 {
margin-top: 0px !important;
padding-top: 32px !important;
}
.lfr-layout-structure-item-327fcd7e-85f0-fd3c-368d-a028880acb6b {
background-color: #DFEAFF !important;
}
.lfr-layout-structure-item-73dfc999-cce0-b48f-0f91-6b780b4fb4fc {
margin-top: 48px !important;
}
.lfr-layout-structure-item-35f5d8de-448f-6604-271c-581bdbfc8184 {
color: var(--white) !important;
}
.lfr-layout-structure-item-20a07102-c692-05e3-9893-1998704bbc30 {
margin-top: 30px !important;
}
.lfr-layout-structure-item-82e0dc8a-ead3-deb8-45b9-945315b23632 {
background-color: #dfeaff !important;
height: 750px !important;
}
.lfr-layout-structure-item-e4a72f56-523d-f03d-207c-5798ece92d05 {
background-color: #81B1FF !important;
padding-bottom: var(--spacer-2,0.5rem) !important;
padding-top: var(--spacer-2,0.5rem) !important;
}
.lfr-layout-structure-item-d07ad120-d2e2-c11f-e443-a2da1ca6884a {
margin-bottom: 32px !important;
margin-top: 40px !important;
}
.lfr-layout-structure-item-b42cbf02-7d0b-d999-93d5-8728a6d1cda1 {
margin-top: 48px !important;
}
.lfr-layout-structure-item-453d1f3d-0322-719e-425e-05fccc8f3d36 {
margin-bottom: 32px !important;
margin-top: 32px !important;
}
.lfr-layout-structure-item-6122108a-350b-da5f-7baa-49ca3c946448 {
background-color: #dfeaff !important;
padding-bottom: 64px !important;
padding-top: 64px !important;
}
.lfr-layout-structure-item-3ec8c291-124b-b9c0-3249-5db3568ef0b9 {
background-color: #E3E829 !important;
padding-bottom: var(--spacer-3,1rem) !important;
padding-top: var(--spacer-3,1rem) !important;
}
.lfr-layout-structure-item-4067bdce-2509-0515-b6dc-79ba3cf2ac33 {
margin-bottom: 32px !important;
margin-top: 32px !important;
}
.lfr-layout-structure-item-2ec31dc2-5fc2-529a-8020-7e1573a5c8ed {
margin-bottom: 32px !important;
}
.lfr-layout-structure-item-d0564a7d-9c9e-8eff-6c55-20013f35166a {
background-color: #f9fae1 !important;
padding-bottom: 60px !important;
padding-top: 40px !important;
}
.lfr-layout-structure-item-45e55f06-1cd4-1117-78d6-8b093431a70e {
display: none !important;
}
.lfr-layout-structure-item-bf7ff234-1be3-efa3-081e-f139290263c5 {
display: none !important;
}
.lfr-layout-structure-item-299ba5f6-ddda-17ec-4196-bb8de9e07d70 {
margin-top: 48px !important;
}
.lfr-layout-structure-item-ad324476-cba6-82fe-3722-cca3a67a4511 {
margin-bottom: 32px !important;
margin-top: 32px !important;
}
.lfr-layout-structure-item-0d9fa794-8d7c-f97a-9fce-471df7d09323 {
display: none !important;
}
@media screen and (max-width: 575px) {.lfr-layout-structure-item-0ca781e8-9077-adaf-2248-9715d0a4a863 {
margin-top: var(--spacer-0,0rem) !important;
padding-top: 20px !important;
}
.lfr-layout-structure-item-3fd9812a-d4e3-1b1e-5c84-0a8751fcf82f {
margin-bottom: var(--spacer-4,1.5rem) !important;
}
.lfr-layout-structure-item-44b99c73-b8c0-9287-be3a-3cf5ed46e9e8 {
margin-bottom: var(--spacer-4,1.5rem) !important;
}
.lfr-layout-structure-item-5f826e62-2b6b-6ed4-fcf3-1a94b660962c {
margin-bottom: var(--spacer-4,1.5rem) !important;
}
}