.lfr-layout-structure-item-container {padding: 0;} .lfr-layout-structure-item-row {overflow: hidden;} .portlet-borderless .portlet-content {padding: 0;}.lfr-layout-structure-item-a827b4fe-8a81-24b1-9b44-e880537a5c4c {
padding-bottom: var(--spacer-3,1rem) !important;
padding-top: var(--spacer-1,0.25rem) !important;
}
.lfr-layout-structure-item-895d0883-f19d-5b25-48ae-36255831586a {
margin-bottom: 32px !important;
margin-top: 40px !important;
}
.lfr-layout-structure-item-957020e5-b49a-3ec2-1053-4513f6e468b1 {
background-color: #F9FAE1 !important;
margin-bottom: 0px !important;
padding-bottom: 32px !important;
}
.lfr-layout-structure-item-363528dc-bf0e-dede-a451-1fe46c436942 {
background-color: #F9FAE1 !important;
}
.lfr-layout-structure-item-beca2762-b7b9-0674-f63c-e48a2236d26a {
border-color: #1C1C24 !important;
}
.lfr-layout-structure-item-acf2e0b8-415c-2186-80b8-ddd5bf1465e3 {
background-color: #E3E829 !important;
padding-bottom: var(--spacer-2,0.5rem) !important;
padding-top: var(--spacer-2,0.5rem) !important;
}
.lfr-layout-structure-item-20699948-3fec-5b7c-86f4-7b08d40935df {
margin-bottom: 32px !important;
margin-top: 32px !important;
}
.lfr-layout-structure-item-c7e755a0-b0c9-fcd8-4cd9-caaa864dc34a {
background-color: #DFEAFF !important;
padding-bottom: 64px !important;
padding-top: 64px !important;
}
.lfr-layout-structure-item-e87859ad-4811-c66f-b270-30a21d8a5408 {
display: none !important;
}
.lfr-layout-structure-item-46918e4a-8a91-cd9f-87c8-b7e945623cf6 {
background-color: #F9FAE1 !important;
margin-bottom: 32px !important;
}
.lfr-layout-structure-item-fc82b6b7-4891-44bd-8b21-4f184b162d9c {
background-color: #F8F8F8 !important;
padding-bottom: 32px !important;
padding-top: 32px !important;
}
.lfr-layout-structure-item-2af0b7cc-3d32-dcc1-aa45-288a4e042377 {
padding-bottom: var(--spacer-3,1rem) !important;
padding-top: var(--spacer-5,3rem) !important;
}
.lfr-layout-structure-item-afc41690-a4ea-8ce8-893f-6d3121118263 {
margin-bottom: 3rem !important;
margin-right: var(--spacer-2,0.5rem) !important;
}
.lfr-layout-structure-item-2af330a2-8615-0c65-fc7d-ef807754d783 {
margin-top: 100px !important;
}
.lfr-layout-structure-item-220b673e-08a8-da2e-9def-5bcbd2452ffe {
margin-bottom: 32px !important;
margin-top: 32px !important;
}
.lfr-layout-structure-item-44ab2135-5b8f-a465-01e0-c15b151265e6 {
background-color: #F9FAE1 !important;
}
.lfr-layout-structure-item-20251a29-ba2e-d240-b835-b7a4bef9f7dc {
text-align: right !important;
}
.lfr-layout-structure-item-a04161be-a04e-c73b-d978-f3ee810981b0 {
display: none !important;
}
.lfr-layout-structure-item-26a7c76f-4965-d1d7-5573-f7f0d41f3f98 {
padding-bottom: var(--spacer-4,1.5rem) !important;
}
.lfr-layout-structure-item-20b8ee55-9061-c005-293f-9b4c95740601 {
margin-bottom: 32px !important;
padding-top: 32px !important;
}
.lfr-layout-structure-item-9e3f1264-5104-a0bc-6c27-fdc39ff3092c {
background-color: #F9FAE1 !important;
border-color: #F9FAE1 !important;
}
.lfr-layout-structure-item-58fd259e-b17d-a99d-92ab-67b71173492f {
margin-bottom: 32px !important;
padding-top: 32px !important;
}
.lfr-layout-structure-item-f99dfd3c-f3b0-6159-93dc-241461c5b38e {
margin-bottom: 18px !important;
margin-top: 18px !important;
}
.lfr-layout-structure-item-e03b8f02-354b-603c-ef7f-0c2ec1bc0862 {
background-color: #DFEAFF !important;
padding-bottom: 32px !important;
padding-top: 32px !important;
}
.lfr-layout-structure-item-c768f624-fba3-1515-3575-9c38a868e051 {
background-color: #DFEAFF !important;
padding-bottom: var(--spacer-3,1rem) !important;
}
.lfr-layout-structure-item-af2e900d-95ae-680e-a14b-b7c45f50261f {
display: none !important;
}
.lfr-layout-structure-item-582c7838-a212-fb54-6b1c-cde1a52e3137 {
margin-bottom: var(--spacer-8,7.5rem) !important;
}
.lfr-layout-structure-item-4fd11d60-8b02-65c6-2621-741f37ff5241 {
display: none !important;
}
.lfr-layout-structure-item-aa14f7ee-9d12-7ce1-bd7b-5e324b789e45 {
padding-bottom: var(--spacer-3,1rem) !important;
padding-top: var(--spacer-3,1rem) !important;
}
.lfr-layout-structure-item-3b4afc9b-47e7-51ea-099d-6fa82f1c25da {
background-color: #F9FAE1 !important;
}
.lfr-layout-structure-item-cdb13f15-a725-8090-26e7-11ea870ddb97 {
margin-bottom: 32px !important;
}
.lfr-layout-structure-item-6a86151d-7a2d-c3a6-a71e-0d7cf1c38ae6 {
display: none !important;
}
.lfr-layout-structure-item-43640443-4fbf-8638-126c-7263e63d70a9 {
background-color: #F8F8F8 !important;
padding-bottom: var(--spacer-4,1.5rem) !important;
padding-top: var(--spacer-5,3rem) !important;
}
.lfr-layout-structure-item-4c5c9ff0-e220-501a-b94b-7a0b1b6e039a {
padding-bottom: 40px !important;
}
.lfr-layout-structure-item-1b1dd8a3-1b8d-3ad5-9dbd-218807170f73 {
background-color: #E6FAEF !important;
min-height: 600px !important;
}
.lfr-layout-structure-item-dbad2e9e-7e16-bb3b-a13a-0526763bd4f1 {
display: none !important;
}
