.lfr-layout-structure-item-container {padding: 0;} .lfr-layout-structure-item-row {overflow: hidden;} .portlet-borderless .portlet-content {padding: 0;}.lfr-layout-structure-item-d48e6347-ee99-8428-3ecb-20e76168355e {
background-color: #f9fae1 !important;
height: 400px !important;
}
.lfr-layout-structure-item-5c499f01-aac8-57ac-3c6b-d8158933bced {
margin-top: 48px !important;
}
.lfr-layout-structure-item-d9348ff8-7da0-2958-1b5b-d5d410452d8b {
margin-top: 32px !important;
}
.lfr-layout-structure-item-3922a149-9f61-a69b-be73-9127f2c4eb9c {
margin-bottom: 32px !important;
margin-top: 32px !important;
}
.lfr-layout-structure-item-a404e6bd-1199-187a-8670-11c73d374ea1 {
background-color: #81B1FF !important;
display: none !important;
padding-bottom: var(--spacer-2,0.5rem) !important;
padding-top: var(--spacer-2,0.5rem) !important;
}
.lfr-layout-structure-item-0b8ba649-cf45-8d2d-8a93-269b9b0b55ab {
margin-bottom: 32px !important;
margin-top: 32px !important;
}
.lfr-layout-structure-item-203bf4ec-0763-aa5a-0e25-4b784ca2a29c {
padding-bottom: var(--spacer-7,6rem) !important;
}
.lfr-layout-structure-item-36670879-3f21-0c7a-9530-8616daf8c0b0 {
display: none !important;
}
.lfr-layout-structure-item-2927459d-b827-24f9-d988-91379e864126 {
margin-bottom: 32px !important;
margin-top: 32px !important;
}
.lfr-layout-structure-item-8b2eece8-d226-525a-39d7-e7e39ebb5973 {
background-color: #f9fae1 !important;
padding-bottom: 60px !important;
padding-top: 40px !important;
}
.lfr-layout-structure-item-74576840-07ef-db33-eac7-8b8eb0f997f7 {
margin-bottom: 32px !important;
padding-top: 40px !important;
}
.lfr-layout-structure-item-b95b57bc-ee8b-3d62-8eb0-d69e25af5ed2 {
background-color: #E3E829 !important;
display: none !important;
padding-bottom: var(--spacer-2,0.5rem) !important;
padding-top: var(--spacer-2,0.5rem) !important;
}
.lfr-layout-structure-item-138f149e-f798-9042-af31-2b0e5caeec14 {
background-color: #dfeaff !important;
height: 900px !important;
}
.lfr-layout-structure-item-7b9c85b2-fa66-d0ad-b175-07ca16241d41 {
margin-bottom: 32px !important;
margin-top: 32px !important;
}
.lfr-layout-structure-item-2cabbac4-7ab3-e880-d474-33a38cec8078 {
margin-top: 32px !important;
}
.lfr-layout-structure-item-65b726e0-af24-d471-40d5-fb8531f703eb {
margin-top: 32px !important;
}
.lfr-layout-structure-item-35f5d8de-448f-6604-271c-581bdbfc8184 {
color: var(--white) !important;
}
.lfr-layout-structure-item-cfbcd2aa-6f81-ac67-94f0-da3d03aaa6de {
background-color: #E3E829 !important;
}
.lfr-layout-structure-item-752c3c34-156c-4993-d3da-c7b5404b3371 {
margin-bottom: 32px !important;
margin-top: 32px !important;
}
.lfr-layout-structure-item-ebfde042-01e3-d64b-0d62-1406b6d8651a {
margin-top: 48px !important;
}
.lfr-layout-structure-item-46e06d98-7c2d-bb4a-7849-c5cb655954dc {
background-color: #E3E829 !important;
padding-bottom: var(--spacer-3,1rem) !important;
padding-top: var(--spacer-3,1rem) !important;
}
.lfr-layout-structure-item-6e294427-5650-b6ad-0463-2be74736c6e5 {
min-height: 440px !important;
}
.lfr-layout-structure-item-0ba55ea3-cee0-e3eb-30d0-b87e66055a0b {
padding-top: var(--spacer-5,3rem) !important;
}
.lfr-layout-structure-item-3b9089f4-406f-2a10-23f3-01e0ea98a791 {
background-color: #81B1FF !important;
padding-bottom: var(--spacer-3,1rem) !important;
padding-top: var(--spacer-3,1rem) !important;
color: var(--white) !important;
}
.lfr-layout-structure-item-a27888a8-888c-5c7b-a981-11d994e0bd8b {
margin-bottom: 32px !important;
}
.lfr-layout-structure-item-9621092d-bfd3-22bd-b429-f148a93da266 {
display: none !important;
}
.lfr-layout-structure-item-021b55c2-ebf3-00ff-dcbc-b2511bbee085 {
display: none !important;
}
.lfr-layout-structure-item-0e247eb8-d68e-404d-b912-8348d89a87ad {
margin-bottom: 32px !important;
margin-top: 32px !important;
}
.lfr-layout-structure-item-dcecc8d5-cb37-96f8-3743-14f7608b7932 {
display: none !important;
}
.lfr-layout-structure-item-27185b50-3802-d677-93ce-92656a42f263 {
display: none !important;
}
.lfr-layout-structure-item-9aac2898-87df-efd3-b4c9-a6b9bdeb83db {
background-color: #dfeaff !important;
padding-bottom: 64px !important;
padding-top: 64px !important;
}
.lfr-layout-structure-item-2e3809c3-c852-2590-dfe6-7edce4f8542b {
padding-top: 32px !important;
}
.lfr-layout-structure-item-8fbbd2a5-329c-39b3-0ae2-dca7a2bbdcd6 {
margin-bottom: 40px !important;
margin-top: 32px !important;
}
.lfr-layout-structure-item-a23d8f01-6389-4a18-1d7a-482c8c0a3f98 {
display: none !important;
}
.lfr-layout-structure-item-08721093-4fff-8810-f9ea-28cd89a341e8 {
color: var(--info) !important;
}
@media screen and (max-width: 575px) {.lfr-layout-structure-item-d48e6347-ee99-8428-3ecb-20e76168355e {
padding-bottom: var(--spacer-0,0rem) !important;
}
.lfr-layout-structure-item-0c80c607-7fc8-aecc-8810-68a28897cf32 {
padding-bottom: 50px !important;
}
.lfr-layout-structure-item-138f149e-f798-9042-af31-2b0e5caeec14 {
height: 1120px !important;
}
.lfr-layout-structure-item-39c8fd53-fb0c-123c-644e-e0bb58b90fe5 {
margin-bottom: var(--spacer-4,1.5rem) !important;
}
.lfr-layout-structure-item-7b42da93-e5bd-8c0a-7ad2-7cec4038def7 {
margin-bottom: var(--spacer-4,1.5rem) !important;
}
.lfr-layout-structure-item-34cd5077-05ca-28a5-62a7-a164f46848fa {
margin-bottom: var(--spacer-4,1.5rem) !important;
}
}